<!DOCTYPE html>
<html lang="en">
<head>
     <link type="text/css" rel="Stylesheet" href="../../css/jqx.base.css" />
    <link type="text/css" rel="Stylesheet" href="../../css/layout.css" />
</head>
<body style="height:510px;">
    <input type="hidden" id="dataForLayout" value="<%= ViewBag.layouts %>" />
    <div id="columnLayout" style="float: right;"></div>
   
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script type="text/javascript" src="//www.jqwidgets.com/public/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.js"></script>
    <script type="text/javascript" src="//www.jqwidgets.com/public/jqwidgets/jqxwindow.js"></script>
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script type="text/javascript" src="../../js/VantageSearch/Base64.js"></script>
    <script type="text/javascript" src="../../js/output/layout.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#columnLayout").Layout({
                source: JSON.parse($("#dataForLayout").val() || "[]")
            });
        });
    </script>
</body>
</html>
